@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --black: #000000;
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 8%, 52%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--cream);
}
article {
  width: 650px;
  display: flex;
  flex-direction: flex;
  height: 500px;
}
.container-image {
  background-image: url("../images/image-product-desktop.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.container-text {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  align-items: flex-start;
  padding-left: 20px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.container-text .sub {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.container-text h1 {
  font-family: 'Fraunces', serif;
  font-size: 35px;
  letter-spacing: -1px;
}
.container-text p {
  color: var(--dark-grayish-blue);
}
.container-text .description {
  text-align: start;
  width: 280px;
  line-height: 20px;
}
.container-text .money {
  display: flex;
}
.money h2 {
  color: var(--dark-cyan);
  font-family: 'Fraunces', serif;
}
.money p {
  text-decoration: line-through;
  margin-left: 20px;
}
button {
  background-color: var(--dark-cyan);
  border: none;
  height:50px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  width: 90%;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: var(--dark-grayish-blue);
  animation: .1s ease-in;
}
